<ion-header>

  <ion-navbar text-center>
    <ion-title>Cuenta de Usuario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="no-scroll" padding>
  <!-- <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center> -->
          <form #accountForm="ngForm" (ngSubmit)="sendData()">
            <ion-item>
              <ion-label stacked>Nombre</ion-label>
              <ion-input type="text" [(ngModel)]="name" name="name" #userName="ngModel" required></ion-input>
            </ion-item>
            <div *ngIf="!userName.valid && userName.touched" class="errorMsg">
                El nombre de usuario es requerido
            </div>
            <ion-item>
              <ion-label stacked>Apellidos</ion-label>
              <ion-input type="text" [(ngModel)]="lastName" name="lastname" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Teléfono</ion-label>
              <ion-input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" maxlength="13" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Email</ion-label>
              <ion-input type="text" [(ngModel)]="email" name="email" email></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Contraseña</ion-label>
              <ion-input type="text" [(ngModel)]="password" name="password" #userPassword="ngModel" minlength="5" required></ion-input>
            </ion-item>
            <div *ngIf="userPassword.touched && password.length < 5" class="errorMsg">
              La contraseña debe ser mayor o igual a 5 dígitos
            </div>
            <br>
            <button ion-button type="submit" [disabled]="!accountForm.form.valid" round>Siguiente</button>
          </form>
    <!-- </ion-row>
  </ion-grid> -->
</ion-content>
